/* Background pattern from Toptal Subtle Patterns */
body {
    background-image: url(./images/bo_play_pattern/bo_play_pattern.png);
}

.jumbotron {
    background-image: url("./images/train_header.png");
    background-size: 100% 100%;
    text-shadow: 2px 2px 5px #FF8C00;
    color: black;
    border: solid 2px gray;
}

#fire {
    text-shadow: 2px 2px 5px red;
    color: black;
}

.card-title {
    text-shadow: 1px 1px  #FF8C00;
    color: black;
    text-decoration: underline overline;
    font-weight: bold;
}

/* Background pattern from Toptal Subtle Patterns */
#currentTrain {
    margin-bottom: 20px;
    background-image: url(./images/honey_im_subtle/honey_im_subtle.png);
}

/* Background pattern from Toptal Subtle Patterns */
#addTrain {
    margin-bottom: 20px;
    background-image: url(./images/honey_im_subtle/honey_im_subtle.png);
}

#add-train-btn {
    background-color: #FF8C00;
    padding: 10px 40px;
}